.review{
    box-shadow: 5px 5px gray;
    margin:30px;
     border:1px solid gray; 
     border-radius:5px; 
     overflow: hidden;
    
}


.review:hover {

    box-shadow: 5px 5px rgb(169, 14, 14);
    border:1px solid rgb(169, 14, 14); 
    background-color: rgb(247, 227, 227);


}

.review img {
    transition:.3s ease-in-out;
    
  
}
.review:hover img{
    transform: scale(1.05);
    
    
}